---
Checks:            '-*,google-readability-braces-around-statements,modernize-deprecated-headers,modernize-raw-string-literal,modernize-redundant-void-arg,modernize-return-braced-init-list,modernize-use-auto,modernize-use-bool-literals,modernize-use-default-member-init,modernize-use-designated-initializers,modernize-use-nullptr,modernize-use-override,readability-avoid-return-with-void-value,readability-function-size,readability-redundant-string-cstr,readability-redundant-string-init,readability-string-compare'
WarningsAsErrors:  ''
HeaderFilterRegex: '.*'
FormatStyle:       'file'
User:              tsmit
